<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "no-referrer"
    Header set Permissions-Policy "geolocation=()"

    Header set Host "mccsscvoting.com"
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://mccsscvoting.com; object-src 'none';"
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
</IfModule>
